<div id="wrapper">
    <div id="main">
        <div class="inner">
            <h1>{{getLoggedUsername()}}'s books</h1>
            <div class="example-container mat-elevation-z2">

                <mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="author">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.author}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="subject">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.subject}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row (dblclick)="openBookDetails(row.id)" *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>

            <br>
            <br>

            <div class="container-fluid">
                <h2 class="h2 border-bottom">Recommended for you based on your books</h2>

                <section class="tiles">
                    <article *ngFor="let recommendedBook of personallyRecommendedBooks" class="style1">
									<span class="image">
										<img src="../../../assets/blog-4-720x480.jpg" alt="" />
									</span>
                        <a [routerLink]="['/book', recommendedBook.id]">
                            <h2>{{recommendedBook.title}}</h2>

                            <h4>{{recommendedBook.author}}</h4>
                        </a>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>


