<div id="wrapper">

    <div *ngIf="book" id="main">

        <div class="inner">
            <h1>{{book.title}} - {{book.author}}</h1>
            <div class="col-sm-3">
                <button type="button" (click)="back()" class="btn btn-outline-dark back-button">Back</button>
            </div>

            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-5">
                        <img src="../../../assets/blog-4-720x480.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-md-7">
                        <p class="book-description">{{book.description}}</p>

                        <div *ngIf="hasRoleUser()" class="col-sm-6">
                            <div *ngIf="!userOwnsThisBook; else bookNotOwned">
                                <button mat-button (click)="addBookToUser()">Add to 'My Books'</button>
                            </div>

                            <ng-template #bookNotOwned>
                                <button mat-button (click)="removeBookFromUser()">Remove from 'My Books'</button>
                            </ng-template>
                        </div>

                        <div *ngIf="hasRoleAdmin()">
                            <button mat-button (click)="deleteBook()" class="btn btn-danger" >Delete Book</button>
                        </div>

                        <!--<div  matTooltip="You already own this book" [matTooltipDisabled]="!userOwnsThisBook" class="col-sm-6">
                            <button mat-button [disabled]="userOwnsThisBook" (click)="addBookToUser()">Add to 'My Books'</button>
                        </div>-->
                    </div>

                </div>
            </div>

            <br>
            <br>

            <div class="container-fluid">
                <h2 class="h2 border-bottom">More like this</h2>

                <section class="tiles">
                    <article *ngFor="let bookLikeThis of booksLikeThis" class="style1">
										<span class="image">
											<img src="../../../assets/blog-4-720x480.jpg" alt="" />
										</span>
                        <a [routerLink]="['/book', bookLikeThis.id]">
                            <h2>{{bookLikeThis.title}}</h2>

                            <h4>{{bookLikeThis.author}}</h4>
                        </a>
                    </article>
                </section>
            </div>

            <br>
            <br>

            <div class="container-fluid">
                <h2 *ngIf="booksOwnersAlsoLike.length > 0" class="h2 border-bottom">Users who have this book also like</h2>

                <section class="tiles">
                    <article *ngFor="let bookOwnersAlsoLike of booksOwnersAlsoLike" class="style2">
										<span class="image">
											<img src="../../../assets/blog-4-720x480.jpg" alt="" />
										</span>
                        <a [routerLink]="['/book', bookOwnersAlsoLike.id]">
                            <h2>{{bookOwnersAlsoLike.title}}</h2>

                            <h4>{{bookOwnersAlsoLike.author}}</h4>

                        </a>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>


