<div id="wrapper">

    <!-- Header -->
    <!--<header id="header">
        <div class="inner">

            &lt;!&ndash; Logo &ndash;&gt;
            <a [routerLink]="['']" class="logo">
                <span class="fa fa-book"></span> <span class="title">Learning Materials</span>
            </a>

            &lt;!&ndash; Nav &ndash;&gt;
            <nav>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/search']" >Search</a>
                    </li>
                </ul>
            </nav>

        </div>
    </header>-->

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Library</h1>

            <div class="image main">
                <img src="../../../assets/banner-image-6-1920x500.jpg" class="img-fluid" alt="" />
            </div>

            <section class="tiles">
                <article *ngFor="let book of sampleBooks" class="style1">
									<span class="image">
										<img src="../../../assets/blog-4-720x480.jpg" alt="" />
									</span>
                    <a [routerLink]="['/book', book.id]">
                        <h2>{{book.title}}</h2>

                        <h4>{{book.author}}</h4>

                        <p>Subject: {{book.subject}}</p>
                    </a>
                </article>
            </section>

        </div>
    </div>

    <!-- Footer -->
    <!--<footer id="footer">
        <div class="inner">
            <span style="font-size: smaller;text-align: center;">    All Rights Reserved</span>
        </div>
    </footer>-->

</div>


<!--<section class="bg-light pt-5 pb-5 shadow-sm">
  <div class="container">
    <div class="row pt-5">
      <div class="col-12">
        <h3 class="text-uppercase border-bottom mb-4">Learning Materials</h3>
      </div>
    </div>
    <div class="row">
      &lt;!&ndash;ADD CLASSES HERE d-flex align-items-stretch&ndash;&gt;
      <mat-card *ngFor="let book of books" class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{book.title}}</mat-card-title>
          <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
          <img mat-card-sm-image src="assets/img.png" >
        </mat-card-title-group>
        &lt;!&ndash;<mat-card-content>
          {{book.description}}
        </mat-card-content>&ndash;&gt;
        <mat-card-actions>
          <a [routerLink]="['/book', book.id]">Details</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>-->
