<div id="wrapper">

    <div id="main">
        <div class="inner">
            <h1>Learning Materials Portal</h1>

            <div class="image main">
                <img src="../../../assets/banner-image-6-1920x500.jpg" class="img-fluid" alt="" />
            </div>

            <div class="container-fluid">
                <h2 class="h2 border-bottom">Sample Books</h2>

                <section class="tiles">
                    <article *ngFor="let book of sampleBooks" class="style1">
									<span class="image">
										<img src="../../../assets/blog-4-720x480.jpg" alt="" />
									</span>
                        <a [routerLink]="['/book', book.id]">
                            <h2>{{book.title}}</h2>

                            <p>{{book.author}}</p>

                            <h6>Subject: {{book.subject}}</h6>
                        </a>
                    </article>
                </section>
            </div>

            <br>
            <br>

            <div class="container-fluid">
                <h2 class="h2 border-bottom">Sample Courses</h2>

                <section class="tiles">
                    <article *ngFor="let course of sampleCourses" class="style2">
									<span class="image">
										<img src="../../../assets/course-img1.jpg" alt="" />
									</span>
                        <a [routerLink]="['/course', course.id]">
                            <h2>{{course.title}}</h2>

                            <!--<h4></h4>

                            <h6>Subject: {{course.subject}}</h6>-->
                        </a>
                    </article>
                </section>
            </div>

        </div>
    </div>

</div>
