<div id="wrapper">

    <div id="main">
        <div class="inner">
            <h1>Search Library</h1>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <table>
                            <tr>
                                <mat-form-field appearance="fill">
                                    <mat-label>Text to search</mat-label>
                                    <input matInput  formControlName="keyword">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Type</mat-label>
                                    <mat-select [(value)]="selectedSearchType">
                                        <mat-option value="Books">Books</mat-option>
                                        <mat-option value="Courses">Courses</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field *ngIf="bookDataSource.data.length > 0 && this.selectedSearchType == 'Books'" appearance="fill">
                                    <mat-label>Filter by Subject</mat-label>
                                    <mat-select [(value)]="selectedSubject" (selectionChange)="applySubjectFilter()">
                                        <mat-option value="All Subjects">All Subjects</mat-option>
                                        <mat-option  *ngFor="let subject of subjects" [value]="subject" >
                                            {{subject}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <td><button class="btn btn-primary" type="submit">Search</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <!--<br>
            <br>-->

            <!--<div class="container-fluid">
                <h2 class="h2 border-bottom">Book Search Results</h2>

                <section class="tiles">
                    <article *ngFor="let book of searchResults" class="style1">
										<span class="image">
											<img src="../../../assets/blog-4-720x480.jpg" alt="" />
										</span>
                        <a [routerLink]="['/book', book.id]">
                            <h2>{{book.title}}</h2>

                            <h4>{{book.author}}</h4>

                            <p>Subject: {{book.subject}}</p>
                        </a>
                    </article>
                </section>
            </div>-->

            <div [hidden]="bookDataSource.data.length == 0" class="container-fluid">
                <mat-table #bookSort="matSort" [dataSource]="bookDataSource" matSort>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="author">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.author}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="subject">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.subject}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="bookDisplayedColumns"></mat-header-row>
                    <mat-row (dblclick)="openBookDetails(row.id)" *matRowDef="let row; columns: bookDisplayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator #bookPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>

            <div [hidden]="courseDataSource.data.length == 0" class="container-fluid">
                <mat-table #courseSort="matSort" [dataSource]="courseDataSource" matSort>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="courseDisplayedColumns"></mat-header-row>
                    <mat-row (dblclick)="openCourseDetails(row.id)" *matRowDef="let row; columns: courseDisplayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator #coursePaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>

</div>
